.body {
    background-color: #b38e96;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #b38e96;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.body{
    background-color: #b38e96;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}
.card{
    width: 325px;
    background-color: #b38e96;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    max-width: 100px!important;
    max-height: 80px!important;
    width: 100;
    height: auto;
}
.text-box{
    max-width: 450px;
}
