body{
    background-color: #b38e96;
}
ul {
      list-style: none;
    }
.menu {
    background-color: #333;
    padding: 15px 0;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: arial, sans-serif;
}
.menu a:hover {
    color: #ffcc00;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 900px;
    gap: 30px;
}
.wrapper img{
    width: 350px;
    height: auto;
    border-radius: 8px;
}
.text-box{
    color: #0e0c0c
}
.text-box h2{
    font-size: 42px;
}
.text-box p {
    font-size: 16px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #b38e96;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.image-container.mt-1{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.img{
    max-width: 100px;
    max-height: 80px;
}
.text-box{
    max-width: 450px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}
